.hidden {
    display: none;
}

#mainlist {
    width: 45%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 44px;
}

button {
    padding: 10px;
    font-weight: bold;
    background-color: white;
    border: none;
    box-shadow: -1px -1px 12px 3px rgba(232, 232, 232, 1);
    font-size: 15px;
}

button:hover {
    background-color: black;
    color: white;
}

.text {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 10px;
}

select {
    padding: 5px 10px;
    margin-bottom: 50px;
}

.bookmark {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: -1px -1px 12px 5px rgba(232, 232, 232, 1);
}

.bookmark:hover {
    background-color: rgb(245, 245, 245);
}

.mainview {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.h2 {
    font-size: 20px;
    letter-spacing: 1.5px;
}

.mb-3 {
    margin-bottom: 10px;
}

.hiddenview {
    display: flex;
    justify-content: space-evenly;
}

#addbookmark {
    padding: 30px;
    border-radius: 15px;
    box-shadow: -1px -1px 12px 5px rgba(232, 232, 232, 1);
}

input {
    padding: 10px;
}

.inputdiv {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}